:root {
  --headline-color: #e5e5e5;
  --heading-font-family: "Dela Gothic One", sans-serif;
  --secondary-font-family: "Roboto", sans-serif;
}

.hero h1 {
  font-family: var(--heading-font-family);
  font-size: 120px;
  margin-left: 80px;
}

.hero h2,
h3,
h4 {
  font-family: var(--secondary-font-family);
  margin-left: 80px;
}

.btn-branding {
  border: 1px solid black;
  margin-left: 80px;
  padding: 14px;
}
.btn-branding:hover {
  border: 1px solid black;
  font-style: italic;
}

.intro-name {
  font-size: 25px;
}
.intro-addition {
  font-size: 14px;
}

.headshot {
  width: 400px;
  margin-right: 100px;
  margin-top: 60px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
}

footer {
  text-align: center;
  font-size: 14px;
  margin-top: 150px;
}
footer a {
  color: black;
}

.projects h1 {
  font-family: var(--heading-font-family);
  color: var(--headline-color);
  font-size: 100px;
}

.projects h2 {
  font-family: var(--heading-font-family);
  font-size: 40px;
}

.projects p {
  font-family: var(--secondary-font-family);
}
